
/SharedLibrarySolution/.vs
/SharedLibrarySolution/ECom.SharedLibrary/obj
/SharedLibrarySolution/ECom.SharedLibrary/bin


/ECom.ApiGatewaySolution/.vs
/ECom.ApiGatewaySolution/ApiGateway.Presentation/bin
/ECom.ApiGatewaySolution/ApiGateway.Presentation/obj

/ECom.AuthenticationApiSolution/.vs
/ECom.AuthenticationApiSolution/AuthenticationApi.Application/obj
/ECom.AuthenticationApiSolution/AuthenticationApi.Application/bin
/ECom.AuthenticationApiSolution/AuthenticationApi.Domain/obj
/ECom.AuthenticationApiSolution/AuthenticationApi.Domain/bin
/ECom.AuthenticationApiSolution/AuthenticationApi.Infrastructure/obj
/ECom.AuthenticationApiSolution/AuthenticationApi.Infrastructure/bin
/ECom.AuthenticationApiSolution/AuthenticationApi.Presentation/obj
/ECom.AuthenticationApiSolution/AuthenticationApi.Presentation/bin

/ECom.OrderApiSolution/.vs
/ECom.OrderApiSolution/OrderApi.Application/obj
/ECom.OrderApiSolution/OrderApi.Application/bin
/ECom.OrderApiSolution/OrderApi.Domain/obj
/ECom.OrderApiSolution/OrderApi.Domain/bin
/ECom.OrderApiSolution/OrderApi.Infrastructure/obj
/ECom.OrderApiSolution/OrderApi.Infrastructure/bin
/ECom.OrderApiSolution/OrderApi.Presentation/obj
/ECom.OrderApiSolution/OrderApi.Presentation/bin

/ECom.ProductApiSolution/.vs
/ECom.ProductApiSolution/ProductApi.Application/obj
/ECom.ProductApiSolution/ProductApi.Application/bin
/ECom.ProductApiSolution/ProductApi.Domain/obj
/ECom.ProductApiSolution/ProductApi.Domain/bin
/ECom.ProductApiSolution/ProductApi.Infrastructure/obj
/ECom.ProductApiSolution/ProductApi.Infrastructure/bin
/ECom.ProductApiSolution/ProductApi.Presentation/obj
/ECom.ProductApiSolution/ProductApi.Presentation/bin